<%-include ('./includes/nav')%>
<%-include('./includes/header')%>

    <body id="page-top">        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <%-include('./includes/footer')%>
    </body>
</html>
