<%-include ('./includes/nav')%>
<%-include('./includes/header')%>

    <body id="page-top">
        <% if(typeof(sess) != "undefined" && typeof(sess.username) != "undefined"){ %>
            <h2 class="h-50 d-flex align-items-center justify-content-center">Welcome, Mike</h2>
        <%}%>        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <%-include('./includes/footer')%>
    </body>
</html>
